<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/sidebar.css" />
    <link rel="stylesheet" href="/stylesheets/root.css" />
    <link rel="stylesheet" href="/stylesheets/rootlayout.css" />
  </head>
  <body>
    <div id="sideBar">
      <div class="group">
        <div class="title">요약</div>
        <a class="item" href="/summary">
          <div class="icon">
            <img src="./images/iconSummary.png" alt="" />
          </div>
          <div class="text">대시보드</div>
        </a>
      </div>
      <div class="group">
        <div class="title">연구원 관리</div>
        <a class="item" href="/student">
          <div class="icon">
            <img src="./images/iconStudent.png" alt="" />
          </div>
          <div class="text">연구원 목록</div>
        </a>
        <a class="item" href="/alert">
          <div class="icon">
            <img src="./images/iconAlert.png" alt="" />
          </div>
          <div class="text">경고 목록</div>
        </a>
      </div>
      <div class="group">
        <div class="title">출석 관리</div>
        <a class="item" href="/attendanceList">
          <div class="icon">
            <img src="./images/iconAttendance.png" alt="" />
          </div>
          <div class="text">출석 현황</div>
        </a>
        <a class="item" href="/attendanceList/week">
          <div class="icon">
            <img src="./images/iconCalendar.png" alt="" />
          </div>
          <div class="text">주차별 출석 현황</div>
        </a>
        <a class="item" href="/attendanceList/realtime">
          <div class="icon">
            <img src="./images/iconRealTime.png" alt="" />
          </div>
          <div class="text">실시간 출석 현황</div>
        </a>
        <a class="item" href="/attendanceList/detail">
          <div class="icon">
            <img src="./images/iconDetail.png" alt="" />
          </div>
          <div class="text">출석 상세</div>
        </a>
      </div>
      <div class="group">
        <div class="title">화이트리스트 관리</div>
        <a class="item" href="/whiteList">
          <div class="icon">
            <img src="./images/iconWhiteList.png" alt="" />
          </div>
          <div class="text">화이트리스트 목록</div>
        </a>
      </div>
    </div>
  </body>
</html>
