#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 4px;
    width: calc(100% - 8px);
    border-bottom: 1px solid var(--COL-GRAY2);
}

#header .contentArea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 10px;
    width: calc(100% - 32px);
    background: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    backdrop-filter: blur(12px);
    transition: background 0.3s, border 0.3s;
}

#header.active .contentArea {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #e8eef2;
    backdrop-filter: blur(12px);
}

#header .contentArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    font-size: 21px;
    font-weight: 600;
    color: var(--col-black);
    cursor: pointer;
}

#header .contentArea .func {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
